.nav {
  width: 100%;
  text-align: center;
  background-color: rgba(31, 31, 31, 0.85);
  border-radius: 15px 15px 0 0;
  padding-bottom: 25px;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Nav-link {
  display: inline-block;
  padding: 15px;
  letter-spacing: 1px;
  color: rgb(110, 110, 110);
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  transition-property: color, text-shadow;
  transition-duration: 0.25s;
}

.Nav-link:hover {
  text-shadow: 0 0 15px rgb(90, 90, 90);
}

.Nav-link.active {
  color: rgb(255, 255, 255);
}
