.launch-list {
  background-color: rgba(59, 59, 59, 0.85);
  border-radius: 15px;
  padding-top: 3%;
  padding-bottom: 3%;
  min-height: 53%;
  position: relative;
}

.loading {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 0%;
  right: 0%;
}

.not-found {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 0%;
  right: 0%;
}

.failed {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(255, 24, 24);
  top: 50%;
  left: 0%;
  right: 0%;
}
