.search-bar {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: -25px 10px 50px;
  background-color: rgb(206, 206, 206);
  border: 0;
  transition-property: width, background-color, border-radius;
  transition-duration: 0.5s;
  font-size: 0.8em;
}

.search-bar:focus {
  width: 102%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.search-bar::placeholder {
  font-weight: bold;
}
