.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
}

.logo {
  width: 70%;
  min-width: 360px;
  margin-bottom: 5rem;
  margin-right: -50px;
}
