.card {
  width: 96%;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 7px;
}

.card img {
  width: 100%;
  padding: 3px 3px 2px;
  border-radius: 15px;
}

.card-cap {
  border-radius: 15px;
  line-height: 1.5;
}

.card-cap li {
  display: flex;
  justify-content: space-between;
  background-color: rgba(206, 206, 206, 0.85);
  color: rgb(70, 70, 70);
  border-radius: 10px;
  padding: 10px;
}

.card-cap li:nth-of-type(-n + 5) {
  margin-bottom: 10px;
}

.card-cap li p:last-of-type {
  width: 40%;
}
