@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* CSS Reset Styles */
* {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
ul,
li,
figure,
figcaption,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

figcaption,
figure,
footer,
header,
nav {
  display: block;
}
body {
  line-height: 1.2;
}

ul {
  list-style: none;
}
/* End Of CSS Reset Styles */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(./assets/spacex2.jpg);
  background-position: center center;
  background-origin: border-box;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
